body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f5e7; /* Warm background color */
}

#header {
  text-align: center;
  margin-bottom: 20px;
}

#header h1 {
  color: #613d2b; /* Brown text color */
}

#cart {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #e0e0e0; /* Light border color */
  border-radius: 8px;
  background-color: #ffffff;
  transition: all 0.3s ease; /* Smooth transition */
}

.cart-item img {
  max-width: 100px; /* Adjusted image size */
  margin-right: 20px;
  border-radius: 6px;
}

.cart-item-info {
  flex-grow: 1;
}

.cart-item-description {
  font-size: 1rem; /* Adjusted font size */
  color: #333;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.cart-item-actions button {
  margin-left: 15px;
  cursor: pointer;
  background-color: #e44d26; /* Warm accent color */
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  transition: all 0.3s ease; /* Smooth transition */
}

.cart-item-actions button:hover {
  background-color: #c6401e; /* Darker color on hover */
}

#subtotal {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#subtotal p {
  font-size: 1.2rem; /* Adjusted font size */
  font-weight: bold;
  color: #333;
}

#checkout-buttons {
  text-align: center;
  margin-top: 20px;
}

.checkout-button, .keep-shopping-button {
  background-color: #8b4513; /* Brown button color */
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease; /* Smooth transition */
}

.keep-shopping-button {
  background-color: #cd853f; /* Lighter brown for 'Keep Shopping' */
}

.checkout-button:hover, .keep-shopping-button:hover {
  background-color: #75390e; /* Darker color on hover */
}

/* Navigation bar styles */
.navbar {
  background-color: #8b4513; /* Brown background color */
  padding: 15px 0; /* Add padding to top and bottom */
}

.navbar ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  text-align: center; /* Center align menu items */
}

.navbar ul li {
  display: inline-block; /* Display menu items horizontally */
  margin-right: 20px; /* Add spacing between menu items */
}

.navbar ul li:last-child {
  margin-right: 0; /* Remove margin from last menu item */
}

.navbar ul li a {
  color: #ffffff; /* White text color */
  text-decoration: none; /* Remove underline */
  font-size: 1.1rem; /* Adjust font size */
  transition: color 0.3s; /* Smooth color transition on hover */
}

.navbar ul li a:hover {
  color: #ffd700; /* Yellow color on hover */
}